run = "python main.py"
modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python main.py"]

[workflows]
runButton = "Start Bot"

[[workflows.workflow]]
name = "Start Bot"
author = 45170969
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
